@page "/bonus"
@using BlazorApp1.Models;
@using System.Globalization;


@foreach (var item in budgetItems)
{
    <div class="slidecontainer">
        <p>@item.Name</p>
        <p>@item.Amount.ToString("C0", CultureInfo.CreateSpecificCulture("ua-UA"))</p>
        <input type="range" max="@(item.Amount + remaining)" step="1000" @bind="item.Amount" @bind:event="oninput" class="slider" style="width: @(100 * (item.Amount + remaining)/ totalBudget)%" />
    </div>
}

<h4>Remaining: @remaining</h4>

<button disabled="@(remaining > 0)">Save</button>

@code {
    decimal totalBudget = 1000000m;

    decimal remaining => totalBudget - budgetItems.Sum(x => x.Amount);

    List<BudgetItem> budgetItems = new List<BudgetItem> {
        new BudgetItem { Name = "Developers" },
        new BudgetItem { Name = "Manager" },
        new BudgetItem { Name = "Sales" },
    };
}
